make_com.blueprint.json
{
    "name": "auto-sub-management-tv",
    "flow": [
        {
            "id": 1,
            "module": "microsoft-email:watchMessages",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4639688,
                "select": "unread",
                "folder": "/AQMkADAwATY0MDABLWI4ZDUtNDhiOC0wMAItMDAKAC4AAAPbG1iL5RVhQIR2-bEmMH6JAQCu4jm79k3mTab4p25e-yYpAAACAQwAAAA=",
                "search": "from:contact@helloasso.com AND subject:\"Vous avez de nouveaux adhérents pour Toits Vivants !\"",
                "fields": [],
                "limit": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -30,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Microsoft connection (Félix Mortas <felix.mortas@hotmail.fr>)",
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            }
                        },
                        "select": {
                            "label": "Only Unread"
                        },
                        "folder": {
                            "path": [
                                "Boîte de réception"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Emails",
                        "required": true,
                        "validate": {
                            "enum": [
                                "unread",
                                "read",
                                "flagged",
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Mail Folder"
                    },
                    {
                        "name": "search",
                        "type": "text",
                        "label": "Search"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "bccRecipients",
                                "body",
                                "bodyPreview",
                                "categories",
                                "ccRecipients",
                                "changeKey",
                                "conversationId",
                                "conversationIndex",
                                "flag",
                                "from",
                                "hasAttachments",
                                "inferenceClassification",
                                "importance",
                                "internetMessageId",
                                "isDraft",
                                "isRead",
                                "isReadReceiptRequested",
                                "lastModifiedDateTime",
                                "parentFolderId",
                                "receivedDateTime",
                                "replyTo",
                                "sender",
                                "sentDateTime",
                                "subject",
                                "toRecipients",
                                "webLink",
                                "internetMessageHeaders",
                                "isDeliveryReceiptRequested",
                                "uniqueBody",
                                "endDateTime",
                                "isAllDay",
                                "isDelegated",
                                "isOutOfDate",
                                "location",
                                "meetingMessageType",
                                "meetingRequestType",
                                "previousEndDateTime",
                                "previousLocation",
                                "previousStartDateTime",
                                "responseRequested",
                                "startDateTime",
                                "type"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "@odata.etag",
                        "type": "text",
                        "label": "@Odata Etag"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Email ID"
                    },
                    {
                        "name": "createdDateTime",
                        "type": "date",
                        "label": "Created Date Time"
                    },
                    {
                        "name": "lastModifiedDateTime",
                        "type": "date",
                        "label": "Last Modified Date Time"
                    },
                    {
                        "name": "changeKey",
                        "type": "text",
                        "label": "Change Key"
                    },
                    {
                        "name": "categories",
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "receivedDateTime",
                        "type": "date",
                        "label": "Received Date Time"
                    },
                    {
                        "name": "sentDateTime",
                        "type": "date",
                        "label": "Sent Date Time"
                    },
                    {
                        "name": "hasAttachments",
                        "type": "boolean",
                        "label": "Has Attachments"
                    },
                    {
                        "name": "internetMessageId",
                        "type": "text",
                        "label": "Internet Message ID"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyPreview",
                        "type": "text",
                        "label": "Body Preview"
                    },
                    {
                        "name": "importance",
                        "type": "text",
                        "label": "Importance"
                    },
                    {
                        "name": "parentFolderId",
                        "type": "text",
                        "label": "Parent Folder ID"
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "conversationIndex",
                        "type": "text",
                        "label": "Conversation Index"
                    },
                    {
                        "name": "isReadReceiptRequested",
                        "type": "boolean",
                        "label": "Is Read Receipt Requested"
                    },
                    {
                        "name": "isRead",
                        "type": "boolean",
                        "label": "Is Read"
                    },
                    {
                        "name": "isDraft",
                        "type": "boolean",
                        "label": "Is Draft"
                    },
                    {
                        "name": "webLink",
                        "type": "text",
                        "label": "Web Link"
                    },
                    {
                        "name": "inferenceClassification",
                        "type": "text",
                        "label": "Inference Classification"
                    },
                    {
                        "name": "meetingMessageType",
                        "type": "text",
                        "label": "Meeting Message Type"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "isOutOfDate",
                        "type": "boolean",
                        "label": "Is Out Of Date"
                    },
                    {
                        "name": "isAllDay",
                        "type": "boolean",
                        "label": "Is All Day"
                    },
                    {
                        "name": "isDelegated",
                        "type": "boolean",
                        "label": "Is Delegated"
                    },
                    {
                        "name": "responseRequested",
                        "type": "boolean",
                        "label": "Response Requested"
                    },
                    {
                        "name": "meetingRequestType",
                        "type": "text",
                        "label": "Meeting Request Type"
                    },
                    {
                        "name": "body",
                        "spec": [
                            {
                                "name": "contentType",
                                "type": "text",
                                "label": "Content Type"
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ],
                        "type": "collection",
                        "label": "Body"
                    },
                    {
                        "name": "sender",
                        "spec": [
                            {
                                "name": "emailAddress",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "address",
                                        "type": "text",
                                        "label": "Address"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email Address"
                            }
                        ],
                        "type": "collection",
                        "label": "Sender"
                    },
                    {
                        "name": "from",
                        "spec": [
                            {
                                "name": "emailAddress",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "address",
                                        "type": "text",
                                        "label": "Address"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email Address"
                            }
                        ],
                        "type": "collection",
                        "label": "From"
                    },
                    {
                        "name": "toRecipients",
                        "spec": {
                            "spec": [
                                {
                                    "name": "emailAddress",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Email Address"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To Recipients"
                    },
                    {
                        "name": "ccRecipients",
                        "spec": {
                            "spec": [
                                {
                                    "name": "emailAddress",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Email Address"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Cc Recipients"
                    },
                    {
                        "name": "bccRecipients",
                        "spec": {
                            "spec": [
                                {
                                    "name": "emailAddress",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Email Address"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Bcc Recipients"
                    },
                    {
                        "name": "replyTo",
                        "spec": {
                            "spec": [
                                {
                                    "name": "emailAddress",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Email Address"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Reply To"
                    },
                    {
                        "name": "flag",
                        "spec": [
                            {
                                "name": "flagStatus",
                                "type": "text",
                                "label": "Flag Status"
                            }
                        ],
                        "type": "collection",
                        "label": "Flag"
                    },
                    {
                        "name": "startDateTime",
                        "spec": [
                            {
                                "name": "dateTime",
                                "time": true,
                                "type": "date",
                                "label": "Date Time"
                            },
                            {
                                "name": "timeZone",
                                "type": "timezone",
                                "label": "Time Zone"
                            }
                        ],
                        "type": "collection",
                        "label": "Start Date Time"
                    },
                    {
                        "name": "endDateTime",
                        "spec": [
                            {
                                "name": "dateTime",
                                "time": true,
                                "type": "date",
                                "label": "Date Time"
                            },
                            {
                                "name": "timeZone",
                                "type": "timezone",
                                "label": "Time Zone"
                            }
                        ],
                        "type": "collection",
                        "label": "End Date Time"
                    },
                    {
                        "name": "location",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Display Name"
                            },
                            {
                                "name": "locationType",
                                "type": "text",
                                "label": "Location Type"
                            },
                            {
                                "name": "uniqueIdType",
                                "type": "text",
                                "label": "Unique ID Type"
                            }
                        ],
                        "type": "collection",
                        "label": "Location"
                    },
                    {
                        "name": "previousLocation",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Display Name"
                            },
                            {
                                "name": "locationType",
                                "type": "text",
                                "label": "Location Type"
                            },
                            {
                                "name": "uniqueIdType",
                                "type": "text",
                                "label": "Unique ID Type"
                            }
                        ],
                        "type": "collection",
                        "label": "Previous Location"
                    },
                    {
                        "name": "previousStartDateTime",
                        "spec": [
                            {
                                "name": "dateTime",
                                "time": true,
                                "type": "date",
                                "label": "Date Time"
                            },
                            {
                                "name": "timeZone",
                                "type": "timezone",
                                "label": "Time Zone"
                            }
                        ],
                        "type": "collection",
                        "label": "Previous Start Date Time"
                    },
                    {
                        "name": "previousEndDateTime",
                        "spec": [
                            {
                                "name": "dateTime",
                                "time": true,
                                "type": "date",
                                "label": "Date Time"
                            },
                            {
                                "name": "timeZone",
                                "type": "timezone",
                                "label": "Time Zone"
                            }
                        ],
                        "type": "collection",
                        "label": "Previous End Date Time"
                    },
                    {
                        "name": "sensitivityLabel",
                        "type": "text",
                        "label": "Sensitivity Label"
                    },
                    {
                        "name": "smimeEncrypted",
                        "type": "boolean",
                        "label": "S/MIME encrypted"
                    },
                    {
                        "name": "smimeSigned",
                        "type": "boolean",
                        "label": "S/MIME signed"
                    },
                    {
                        "name": "uniqueBody",
                        "spec": [
                            {
                                "name": "contentType",
                                "type": "text",
                                "label": "Content Type"
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ],
                        "type": "collection",
                        "label": "Unique Body"
                    },
                    {
                        "name": "internetMessageHeaders",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Internet Message Headers"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://etlhawae5avepxkpwq3vsc34ci0losth.lambda-url.eu-west-3.on.aws/",
                "method": "post",
                "headers": [
                    {
                        "name": "make-trigger-api-key",
                        "value": "secret key - find on AWS Lambda environment variables"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "dataStructure",
                "bodyDataStructure": 281239,
                "dataStructureBodyContent": {
                    "body": "{{1.body.content}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "bodyDataStructure": {
                            "label": "My data structure"
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                    },
                    {
                        "name": "dataStructureBodyContent",
                        "type": "collection",
                        "label": "Body content",
                        "spec": [
                            {
                                "name": "body",
                                "type": "text",
                                "label": null,
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "microsoft-email:deleteAMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4639688
            },
            "filter": {
                "name": "Success",
                "conditions": [
                    [
                        {
                            "a": "{{2.statusCode}}",
                            "b": "200",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "message": "{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Microsoft connection (Félix Mortas <felix.mortas@hotmail.fr>)",
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            }
                        }
                    },
                    "expect": {
                        "message": {
                            "mode": "edit"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "select",
                        "label": "Email ID",
                        "mode": "edit",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}